@import "tailwindcss";

body {
  font-family: var(--font-display);
  background-color: var(--color-background);
}


@theme {
  --font-display: "Fira Code", monospace;

  --color-background: #282C33;
  --color-foreground:  #fff;
  --color-primary: #5936DA;
  --color-secondary: hsl(233 57% 55%);
  --color-details: hsl(186 96% 68%);
  --color-border: #ABB2BF;
  --color-light-blue: #E5E9F0;
  --color-comments: #607B96;
  --color-tomato: #E99287;
  --color-tomato-bright: #F15F4D;
}
