@import "tailwindcss";

body {
  font-family: var(--font-display);
  background-color: var(--color-background);
}


@theme {
  --font-display: "Fira Code", monospace;

  --color-background: #282C33;
  --color-foreground:  #fff;
  --color-primary: hsl(253 69% 53%);
  --color-secondary: hsl(233 57% 55%);
  --color-details: hsl(186 96% 68%);
  --color-border: #ABB2BF;
}
